<md-toolbar color="cool">
  
    <span >Rent a Car</span>
  
    <span class="example-spacer"></span>
      <div class="divlog" *ngIf="!isLoggedIn">
          <button class="example-icon" md-raised-button color="primary" (click)="openLoginDialog()"> Login</button>
      </div>
      <div class="divreg" *ngIf="!isLoggedIn">
          <button class="example-icon" md-raised-button color="primary" (click)="openRegistrationDialog()"> Register</button>
      </div>
      <div class="divuser" *ngIf="isLoggedIn">
          <button md-button title="Edit profile">{{username}}</button>
      </div>
      <div class="divlout" *ngIf="isLoggedIn">
          <button class="example-icon" md-raised-button color="primary" (click)="logout()"> Log Out</button>
      </div>
  </md-toolbar>
  
  
      <nav md-tab-nav-bar  >
         <!-- <a md-tab-link [routerLink]="['/home']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Home</a> -->
          <div class="nav_bar" >
                <a md-tab-link  *ngIf="adminRole==true || managerRole == true"  [routerLink]="['/service']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Service</a>
            </div>
            <div class="nav_bar">
                <a md-tab-link *ngIf="adminRole==true || managerRole == true" [routerLink]="['/branch']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Branch</a>
            </div>
            <div class="nav_bar">
                <a md-tab-link  [routerLink]="['/vehicle']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Vehicle</a>
            </div>
            <div class="nav_bar">
                    <a md-tab-link *ngIf="adminRole==true || managerRole == true" [routerLink]="['/vehicleType']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">VehicleType</a>
            </div>
         
      </nav>
   
   <router-outlet></router-outlet>